{% extends "base.html" %}

{% block content %}

<div>
    <div style="text-align : center ; max-width : 500px; margin: 4rem auto 1.5rem auto; ">

        <img src = "{{ target_project.image.url }}" alt=""
             style="height:12rem; width:12rem; border-radius : 20rem; border: 1px solid gray; margin-bottom : 2rem object-fit:cover;">
        <h2 style="font-family: 'NanumSquareB'">
            {{ target_project.title}}

        </h2>
         <h5 style=" margin-bottom : 3rem">
            {{ target_project.description }}
        </h5>

    </div>

    {% if user.is_authenticated %}
        {% if not subscribe %}
        <div class="text-center mb-5">
            <a href ="{% url 'subscribes:subscribe'%}?project_pk={{ target_project.pk}}" class="btn btn-primary rounded-pill">
                Subscribe
            </a>
        </div>
        {% else %}
        <div class="text-center mb-5">
            <a href ="{% url 'subscribes:subscribe'%}?project_pk={{ target_project.pk}}" class="btn btn-dark rounded-pill">
                UnSubscribe
            </a>
        </div>
        {% endif %}

    {% endif %}
    <div>

        {% include 'snippets/list_fragment.html' with article_list=object_list %}

    </div>
</div>
{% endblock  %}
