.blog_logo{
 font-family: 'Lobster Two', cursive;
}
.blog_footer_btn{
font-size : .6rem;
margin-bottom : 2rem;
}

.blog_footer{
text-align : center;
margin-top : 2rem;
}


.blog_header{

 text-align : center; margin-bottom : 2rem 0;
}



/* 스크린 사이즈가 500이하로 떨어지면 적용됨*/
@media screen adn (max-width : 500px ){
    html {
        font-size : 13px;
    }

}

a {
color : black;
text-decoration : none;
}

a:hover{
color:black;
text-decoration : none;
}

.pinterest_header_nav{
margin: 1rem 0.5rem;
}

.pinterest_header_navbar{
margin : 1rem 0 ;
}