.blog_logo{
 font-family: 'Lobster Two', cursive;
}
.blog_footer_btn{
font-size : .6rem;
margin-bottom : 2rem;
}

.blog_footer{
text-align : center;
margin-top : 2rem;
}


.blog_header{

 text-align : center; margin-bottom : 2rem 0;
}



/* 스크린 사이즈가 500이하로 떨어지면 적용됨*/
@media screen adn (max-width : 500px ){
    html {
        font-size : 13px;
    }

}