{% extends "base.html" %}


{% block content %}
<style>
    .testing{
        background-color : white;
        height : 3rem;
    <!-- 1rem html 최 상단의 기본인 16px 즉 3rem 16x3px        -->
        width : 3rem;
        margin : 1rem;
    }
</style>
 <div style="height : 20rem; background-color : #38df81; border-radius : 1rem; margin : 2rem">
    <h1>
        test
    </h1>
     <div class="testing"></div>
     <div class="testing"></div>
     <div class="testing"></div>
     <div class="testing"></div>
     <div class="testing"></div>

    </div>

{% endblock %}